div{
    background-color: rgb(232, 224, 254);
    margin-bottom: 5px;
    border: 1px solid black;
  min-height: 400px;
  border-radius:10px;
  padding: 10px;
  box-shadow: 0 0 10px thistle;
}